<div class="text">
    <p>Vinyl siding has high frost resistance (up to -65 ° C). It does not fade in the sun. Licensed by the American «Penn Color» company. Collection is presented in 9 different colors. Size of panels: 3000 x 200 x 1.1.</p>						
</div>
<div class="wrap-imgas__i">
    <div class="link-sel__body">
        <div class="list active">
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_yellow_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_yellow_small.png" alt="Yellow" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Yellow</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_blue_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_blue_small.png" alt="Blue" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Blue</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_peach_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_peach_small.png" alt="Peach" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Peach</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_gold_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_gold_small.png" alt="Gold" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Gold</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_white_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_white_small.png" alt="White" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>White</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_green_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_green_small.png" alt="Green" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Green</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_grey_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_grey_small.png" alt="Grey" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Grey</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_beige_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_beige_small.png" alt="Beige" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Beige</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Alaska/big/Alaska_cream_big.png" rel="gallery5" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Alaska/small/Alaska_cream_small.png" alt="Cream" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Cream</p>
            </div>
        </div>
    </div>
</div>
