<div class="text">
    <p>Foamed siding is produced by co-extrusion of the compound - polyvinyl chloride powder mixture with special additives that provide improved properties of finished products (impact strength, UV-stabilized panelsand low inflammability). It has improved heat and sound insulation. 2 collections. 9 colors. Size of panels: 3000 x 217 x 14.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/beige_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/beige_small.png" alt="Beige" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/brown_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/brown_small.png" alt="Brown" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Brown</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/cream_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/cream_small.png" alt="Cream" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Cream</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/dark-beige_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/dark-beige_small.png" alt="Dark beige" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Dark beige</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/green_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/green_small.png" alt="Green" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Green</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/light-brown_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/light-brown_small.png" alt="Light brown" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Light brown</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/red_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/red_small.png" alt="Red" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Red</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/white_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/white_small.png" alt="White" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Board/big/yellow_big.png" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Board/small/yellow_small.png" alt="Yellow" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Yellow</p>
    </div>
    <!--<div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
            <a href="static/products/Siding/Alta-Board/big/.png" rel="gallery1" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-1.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/products/Siding/Alta-Board/big/.png" rel="gallery1" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-2.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/products/Siding/Alta-Board/big/.png" rel="gallery1" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-3.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
        </div>
    </div>-->
</div>

