<div class="text">
    <p>Classic vinyl siding. Does not fade in the sun, resistant to high temperatures (up to -60 ° C.). Collection offers 10 different color options.  Size of panels: 3660 x 230 x 1.1.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/beige_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/beige_small.png" alt="Beige" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/cream_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/cream_small.png" alt="Cream" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Cream</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/gray-blue_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/gray-blue_small.png" alt="Gray – blue" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Gray – blue</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/gray-green_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/gray-green_small.png" alt="Gray – green" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Gray – green</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/lemon_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/lemon_small.png" alt="Lemon" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Lemon</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/light_gray_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/light_gray_small.png" alt="Light gray" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Light gray</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/lime_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/lime_small.png" alt="Lime" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Lime</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/pink_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/pink_small.png" alt="Pink" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Pink</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/smoky_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/smoky_small.png" alt="Smoky" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Smoky</p>
    </div>
    <div class="col">
        <a href="static/products/Siding/Alta-Siding/big/white_big.png" rel="gallery2" class="img fancy-popup-gallery">
            <img src="static/products/Siding/Alta-Siding/small/white_small.png" alt="White" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White</p>
    </div>
    <!--<div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
            <a href="static/img/content/fasadbig1.jpg" rel="gallery2" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-1.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/img/content/fasadbig1.jpg" rel="gallery2" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-2.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/img/content/fasadbig1.jpg" rel="gallery2" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-3.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
        </div>
    </div>-->
</div>

