<div class="text">
    <p>Facing panels that mimic the natural log of the facade. The collection includes the vinyl and acrylic siding. Vinyl panels are better at frost resistance and acrylic do not fade in the sun.
        Collection is presented in 5 colors and textures.
        Size of panels: 3660 x 230 h1, 1.</p>
</div>
<div class="wrap-imgas__i">
    <div class="link-sel">
        <a href="" class="active">Vinyl Blockhouse </a>
        <a href="">Acrylic Blockhouse</a>
    </div>
    <div class="link-sel__body">
        <div class="list active">
            <div class="col">
                <a href="static/products/Siding/BlockHouse/vynil/big/Beige_vynil_big.png" rel="gallery41" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/BlockHouse/vynil/small/Beige_vynil_small.png" alt="Beige" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Beige</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/BlockHouse/vynil/big/Golden_vynil_big.png" rel="gallery41" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/BlockHouse/vynil/small/Golden_vynil_small.png" alt="Golden" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Golden</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/BlockHouse/vynil/big/Peach_Vinyl_big.png" rel="gallery41" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/BlockHouse/vynil/small/Peach_Vinyl_small.png" alt="Peach" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Peach</p>
            </div>
        </div>
        <div class="list">
            <div class="col">
                <a href="static/products/Siding/BlockHouse/acril/big/Light_Oak_Acrylic_big.png" rel="gallery42" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/BlockHouse/acril/small/Light_Oak_Acrylic_small.png" alt="Light Oak Acrylic" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Light Oak Acrylic</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/BlockHouse/acril/big/Russetacrylic_big.png" rel="gallery42" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/BlockHouse/acril/small/Russetacrylic_small.png" alt="Russetacrylic" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Russetacrylic</p>
            </div>
        </div>
    </div>
</div>
