<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-1.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Red</p>

    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-2.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Brown</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-3.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Yellow</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-4.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-5.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Burnt</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-6.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-1.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Red</p>

    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-2.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Brown</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-3.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Yellow</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-4.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-5.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Burnt</p>
    </div>
    <div class="col">
        <a href="static/img/content/fasadbig1.jpg" rel="gallery1" class="img fancy-popup-gallery">
            <img src="static/img/content/br-6.png" alt="demo" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
            <a href="static/img/content/fasadbig1.jpg" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-1.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/img/content/fasadbig1.jpg" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-2.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
            <a href="static/img/content/fasadbig1.jpg" class="r__col fancy-popup-gallery">
                <div class="img">
                    <img src="static/img/content/tr-3.png" alt="demo" />
                </div>
                <p>Corner «Classic»</p>
            </a>
        </div>
    </div>
    <!-- images-br end-->
</div>
