<div class="text">
    <p>Classic design. Solid and unobtrusive facade, virtually indistinguishable from natural brickwork. 5 color options.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Brick/big/Beige_BrickCombi_big.png" rel="af4" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Brick/small/Beige_BrickCombi_small.png" alt="Beige BrickCombi" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige BrickCombi</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Brick/big/Beige_Brick_big.png" rel="af4" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Brick/small/Beige_Brick_small.png" alt="Beige Brick" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige Brick</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Brick/big/Burnt_Brick_clear_big.png" rel="af4" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Brick/small/Burnt_Brick_clear_small.png" alt="Burnt Brick" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Burnt Brick</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Brick/big/Red_Brick_big.png" rel="af4" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Brick/small/Red_Brick_small.png" alt="Red Brick" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Red Brick</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Brick/big/White_Brick_big.png" rel="af4" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Brick/small/White_Brick_small.png" alt="White Brick" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White Brick</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
											<a href="static/products/Decor/Angles/Brick/big/Angle_Brick_Beige_Brick_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick/small/Angle_Brick_Beige_Brick_small.png" alt="demo" />
                                                    </div>
                                                    <p>Beige</p>
                                                </a>

											<a href="static/products/Decor/Angles/Brick/big/Angle_Brick_Burnt_Brick_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick/small/Angle_Brick_Burnt_Brick_small.png" alt="demo" />
                                                    </div>
                                                    <p>Burnt</p>
                                                </a>
											<a href="static/products/Decor/Angles/Brick/big/Angle_Brick_Red_Brick_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick/small/Angle_Brick_Red_Brick_small.png" alt="demo" />
                                                    </div>
                                                    <p>Red</p>
                                                </a>
											<a href="static/products/Decor/Angles/Brick/big/Angle_Brick_White_Brick_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick/small/Angle_Brick_White_Brick_small.png" alt="demo" />
                                                    </div>
                                                    <p>White</p>
                                                </a>												
												<!--common-->
 <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

