<div class="text">
    <p>Relief panels mimic stone rocks from canyons in Kansas, Arizona, Nevada, Colorado and Montana.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Canyon/big/Arizona_big.png" rel="af7" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Canyon/small/Arizona_small.png" alt="Arizona" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Arizona</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Canyon/big/Colorado_big.png" rel="af7" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Canyon/small/Colorado_small.png" alt="Colorado" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Colorado</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Canyon/big/Kansas_big.png" rel="af7" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Canyon/small/Kansas_small.png" alt="Kansas" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Kansas</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Canyon/big/Montana_big.png" rel="af7" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Canyon/small/Montana_small.png" alt="Montana" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Montana</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Canyon/big/Nevada_big.png" rel="af7" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Canyon/small/Nevada_small.png" alt="Nevada" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Nevada</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
<!--common-->
                                               <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

