<div class="text">
    <p>Embossed facade panels have a rough texture and imitate the color of the rocks that can be found at Caucasus, Altai, Pamir, Tibet and the Alps mountains.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Craggy_Cliffside/big/Alps_big.png" rel="af2" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Craggy_Cliffside/small/Alps_small.png" alt="Alps" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Alps</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Craggy_Cliffside/big/Altai_big.png" rel="af2" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Craggy_Cliffside/small/Altai_small.png" alt="Altai" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Altai</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Craggy_Cliffside/big/Caucasus_big.png" rel="af2" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Craggy_Cliffside/small/Caucasus_small.png" alt="Caucasus" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Caucasus</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Craggy_Cliffside/big/Pamir_big.png" rel="af2" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Craggy_Cliffside/small/Pamir_small.png" alt="Pamir" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Pamir</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Craggy_Cliffside/big/Tibet_big.png" rel="af2" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Craggy_Cliffside/small/Tibet_small.png" alt="Tibet" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Tibet</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
											<a href="static/products/Decor/Angles/Craggy_Cliffside/big/Craggy_Cliffside-Altai_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Craggy_Cliffside/small/Craggy_Cliffside-Altai_small.png" alt="demo" />
                                                    </div>
                                                    <p>Altai</p>
                                                </a>		
											<a href="static/products/Decor/Angles/Craggy_Cliffside/big/Craggy_Cliffside-Alps_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Craggy_Cliffside/small/Craggy_Cliffside-Alps_small.png" alt="demo" />
                                                    </div>
                                                    <p>Alps</p>
                                                </a>	
											<a href="static/products/Decor/Angles/Craggy_Cliffside/big/Craggy_Cliffside-Caucasus_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Craggy_Cliffside/small/Craggy_Cliffside-Caucasus_small.png" alt="demo" />
                                                    </div>
                                                    <p>Caucasus</p>
                                                </a>	
											<a href="static/products/Decor/Angles/Craggy_Cliffside/big/Craggy_Cliffside-Pamir_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Craggy_Cliffside/small/Craggy_Cliffside-Pamir_small.png" alt="demo" />
                                                    </div>
                                                    <p>Pamir</p>
                                                </a>	
											<a href="static/products/Decor/Angles/Craggy_Cliffside/big/Craggy_Cliffside-Tibet_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Craggy_Cliffside/small/Craggy_Cliffside-Tibet_small.png" alt="demo" />
                                                    </div>
                                                    <p>Tibet</p>
                                                </a>													
												<!--common-->
 <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

