<div class="text">
    <p>Imitation of natural tile - onyx, basalt, travertine, dolomite andquartzite. Light and delicate shades. 5 coloroptions.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Facade_Tile/big/Basalt_big.png" rel="af5" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Facade_Tile/small/Basalt_small.png" alt="Basalt" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Basalt</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Facade_Tile/big/Dolomite_big.png" rel="af5" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Facade_Tile/small/Dolomite_small.png" alt="Dolomite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Dolomite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Facade_Tile/big/Onix_big.png" rel="af5" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Facade_Tile/small/Onix_small.png" alt="Onix" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Onix</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Facade_Tile/big/Quartzite_big.png" rel="af5" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Facade_Tile/small/Quartzite_small.png" alt="Quartzite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Quartzite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Facade_Tile/big/Travertine_big.png" rel="af5" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Facade_Tile/small/Travertine_small.png" alt="Travertine" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Travertine</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
<a href="static/products/Decor/Angles/Brick_Antique/big/Angles_Brick-Antique_Alexandria_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick_Antique/small/Angles_Brick-Antique_Alexandria_small.png" alt="demo" />
                                                    </div>
                                                    <p>Alexandria</p>
                                                </a>
												<a href="static/products/Decor/Angles/Brick_Antique/big/Angles_Brick-Antique_Athes_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick_Antique/small/Angles_Brick-Antique_Athes_small.png" alt="demo" />
                                                    </div>
                                                    <p>Athes</p>
                                                </a>
												<a href="static/products/Decor/Angles/Brick_Antique/big/Angles_Brick-Antique_Cairo_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick_Antique/small/Angles_Brick-Antique_Cairo_small.png" alt="demo" />
                                                    </div>
                                                    <p>Cairo</p>
                                                </a>
												<a href="static/products/Decor/Angles/Brick_Antique/big/Angles_Brick-Antique_Carthage_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick_Antique/small/Angles_Brick-Antique_Carthage_small.png" alt="demo" />
                                                    </div>
                                                    <p>Carthage</p>
                                                </a>
												<a href="static/products/Decor/Angles/Brick_Antique/big/Angles_Brick-Antique_Rome_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Brick_Antique/small/Angles_Brick-Antique_Rome_small.png" alt="demo" />
                                                    </div>
                                                    <p>Rome</p>
                                                </a>												


												
												<!--common-->
 <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

