<div class="text">
    <p>The panels combine brick structure and texture of the wild-cut stone. 7 designs are available</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Chekhovskij_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Chekhovskij_small.png" alt="Chekhovskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Chekhovskij</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Kashirskij_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Kashirskij_small.png" alt="Kashirskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Kashirskij</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Klinskij_brig.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Klinskij_small.png" alt="Klinskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Klinskij</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Mozhajskij_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Mozhajskij_small.png" alt="Mozhajskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Mozhajskij</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Ramenskii_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Ramenskii_small.png" alt="Ramenskii" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Ramenskii</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Shaturskij_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Shaturskij_small.png" alt="Shaturskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Shaturskij</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Fagot/big/Taldomskij_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Fagot/small/Taldomskij_small.png" alt="Taldomskij" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Taldomskij</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Shaturskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Shaturskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Shaturskij</p>
                                                </a>
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Ramenskii_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Ramenskii_small.png" alt="demo" />
                                                    </div>
                                                    <p>Ramenskii</p>
                                                </a>	
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Chekhovskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Chekhovskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Chekhovskij</p>
                                                </a>	
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Kashirskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Kashirskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Kashirskij</p>
                                                </a>	
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Klinskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Klinskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Klinskij</p>
                                                </a>	
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Mozhajskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Mozhajskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Mozhajskij</p>
                                                </a>		
												<a href="static/products/Decor/Angles/Fagot/big/Angle_Fagot_Taldomskij_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Fagot/small/Angle_Fagot_Taldomskij_small.png" alt="demo" />
                                                    </div>
                                                    <p>Taldomskij</p>
                                                </a>												


												
												<!--common-->
                                                <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

