<div class="text">
    <p>Volume panels mimic natural granite. 6 colors are perfectly combined with other collections of front panels and siding of &quot;Alta-profile&quot;</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Alpine_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Alpine_Granite_small.png" alt="Alpine Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Alpine Granite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Balkan_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Balkan_Granite_small.png" alt="Balkan Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Balkan Granite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Carpathina_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Carpathina_Granite_small.png" alt="Carpathina Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Carpathina Granite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Crimean_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Crimean_Granite_small.png" alt="Crimean Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Crimean Granite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Sayan_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Sayan_Granite_small.png" alt="Sayan Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Sayan Granite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Granite/big/Ural_Granite_big.png" rel="af8" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Granite/small/Ural_Granite_small.png" alt="Ural Granite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Ural Granite</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Alpine_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Alpine_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Alpine Granite</p>
                                                </a>
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Balkan_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Balkan_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Balkan Granite</p>
                                                </a>
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Carpathia_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Carpathia_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Carpathia Granite</p>
                                                </a>
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Crimnean_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Crimnean_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Crimnean Granite</p>
                                                </a>
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Sayan_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Sayan_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Sayan Granite</p>
                                                </a>
												<a href="static/products/Decor/Angles/Granite/big/Angle_Granite_Ulal_Granite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Granite/small/Angle_Granite_Ulal_Granite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Ural Granite</p>
                                                </a>												


												
												<!--common-->
                                                <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

