<div class="text">
    <p>Collections of vinyl and acrylic siding are produced under the supervision of experts from Canada. Size of panels: 3660 x 230 h1,1.mm.
        "Prestige" collection offers vinyl siding. It is frost-resistant and resistant to mechanical damage at low temperatures. Collection has 6 different shades.
         "Premium" collection offers acrylic siding. Panels are made ​​of the last generation acrylic materials (Acrylnitril-Styrol-Acrylester) (ASA)Resistant to high temperatures (up to +80 ° C) and UV-radiation. Collection offers 14 different color options.</p>
</div>
<div class="wrap-imgas__i">
    <div class="link-sel">
        <a href="" class="active">Vinyl Kanada plus</a>
        <a href="">Acrylic Kanada plus</a>
    </div>
    <div class="link-sel__body">
        <div class="list active">
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Golden_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Golden_small.png" alt="Golden" />
                    <p>Golden</p>
                </a>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Peach_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Peach_small.png" alt="Peach" />
                    <p>Peach</p>
                </a>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Pear_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Pear_small.png" alt="Pear" />
                    <p>Pear</p>
                </a>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Pistachio_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Pistachio_small.png" alt="Pistachio" />
                    <p>Pistachio</p>
                </a>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Strawberry_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Strawberry_small.png" alt="Strawberry" />
                    <p>Strawberry</p>
                </a>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/vynil/big/Yellow_big.png" rel="gallery31" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/vynil/small/Yellow_small.png" alt="Yellow" />
                    <p>Yellow</p>
                </a>
            </div>
        </div>
        <div class="list">
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/blue_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/blue_small.png" alt="Blue" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Blue</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/brick_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/brick_small.png" alt="Brick" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Brick</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/green_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/green_small.png" alt="Green" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Green</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/khaki_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/khaki_small.png" alt="Khaki" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Khaki</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/light_oak_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/light_oak_small.png" alt="Light oak" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Light oak</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/liliac_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/liliac_small.png" alt="Liliac" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Liliac</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/olive_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/olive_small.png" alt="Olive" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Olive</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/orange_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/orange_small.png" alt="Orange" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Orange</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/pomegranate_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/pomegranate_small.png" alt="Pomegranate" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Pomegranate</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/purple_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/purple_small.png" alt="Purple" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Purple</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/red_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/red_small.png" alt="Red" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Red</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/russet_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/russet_small.png" alt="Russet" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Russet</p>
            </div>
            <div class="col">
                <a href="static/products/Siding/Kanada_plus/acril/big/silver_big.png" rel="gallery32" class="img fancy-popup-gallery">
                    <img src="static/products/Siding/Kanada_plus/acril/small/silver_small.png" alt="Silver" />
                    <div class="zoom">
                        <i class="icon icon_zoom"></i>
                    </div>
                </a>
                <p>Silver</p>
            </div>
        </div>
    </div>
</div>
