<div class="text">
    <p>Collection imitates the brickwork. It has a smooth texture and 6 color options</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/Beige_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/Beige_small.png" alt="Beige" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Beige</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/Brown_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/Brown_small.png" alt="Brown" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Brown</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/Burnt_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/Burnt_small.png" alt="Burnt" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Burnt</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/Red_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/Red_small.png" alt="Red" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Red</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/White_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/White_small.png" alt="White" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>White</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Klinker_Brick/big/Yellow_big.png" rel="af1" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Klinker_Brick/small/Yellow_small.png" alt="Yellow" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Yellow</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
										<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_Beige_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_Beige_small.png" alt="demo" />
                                                    </div>
                                                    <p>Beige</p>
                                                </a>
												<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_Brown_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_Brown_small.png" alt="demo" />
                                                    </div>
                                                    <p>Brown</p>
                                                </a>
												<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_Burnt_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_Burnt_small.png" alt="demo" />
                                                    </div>
                                                    <p>Burnt</p>
                                                </a>
												<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_Red_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_Red_small.png" alt="demo" />
                                                    </div>
                                                    <p>Red</p>
                                                </a>
												<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_White_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_White_small.png" alt="demo" />
                                                    </div>
                                                    <p>White</p>
                                                </a>
												<a href="static/products/Decor/Angles/Klinker_Brick/big/Angle_Klinker_Brick_Collection_Yellow_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Klinker_Brick/small/Angle_Klinker_Brick_Collection_Yellow_small.png" alt="demo" />
                                                    </div>
                                                    <p>Yellow</p>
                                                </a>						
												<!--common-->
 <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

