<div class="text">
    <p>The structure and color of the panels mimic the combination of natural stones of different shapes. 6 designs are available</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Baltic_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Baltic_small.png" alt="Baltic" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Baltic</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Danish_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Danish_small.png" alt="Danish" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Danish</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Greek_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Greek_small.png" alt="Greek" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Greek</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Norman_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Norman_small.png" alt="Norman" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Norman</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Scandinavian_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Scandinavian_small.png" alt="Scandinavian" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Scandinavian</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Rubble_Work/big/Scythian_big.png" rel="af9" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Rubble_Work/small/Scythian_small.png" alt="Scythian" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Scythian</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Baltic_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Baltic_small.png" alt="demo" />
                                                    </div>
                                                    <p>Baltic</p>
                                                </a>
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Danish_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Danish_small.png" alt="demo" />
                                                    </div>
                                                    <p>Danish</p>
                                                </a>
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Greek_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Greek_small.png" alt="demo" />
                                                    </div>
                                                    <p>Greek</p>
                                                </a>
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Norman_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Norman_small.png" alt="demo" />
                                                    </div>
                                                    <p>Norman</p>
                                                </a>
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Scandinavian_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Scandinavian_small.png" alt="demo" />
                                                    </div>
                                                    <p>Scandinavian</p>
                                                </a>
												<a href="static/products/Decor/Angles/Rubble_Work/big/Angles_Rubble_Work_Scythian_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Rubble_Work/small/Angles_Rubble_Work_Scythian_small.png" alt="demo" />
                                                    </div>
                                                    <p>Scythian</p>
                                                </a>												


												
												<!--common-->
                                                <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

