<div class="text">
    <p>Imitation of natural texture and color of the stone. Collection offers 10 different designs.</p>
</div>
<div class="wrap-imgas__i">
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/BeigeStone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/BeigeStone_small.png" alt="BeigeStone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>BeigeStone</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/BurntStone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/BurntStone_small.png" alt="BurntStone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>BurntStone</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/GrayStone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/GrayStone_small.png" alt="GrayStone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>GrayStone</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Limestone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Limestone_small.png" alt="Limestone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Limestone</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Malachite_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Malachite_small.png" alt="Malachite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Malachite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Quartzite_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Quartzite_small.png" alt="Quartzite" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Quartzite</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Slate_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Slate_small.png" alt="Slate" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Slate</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Topaz_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Topaz_small.png" alt="Topaz" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>Topaz</p>
    </div>
    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/WhiteStone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/WhiteStone_small.png" alt="WhiteStone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>WhiteStone</p>
    </div>
	    <div class="col">
        <a href="static/products/Alta-Facade_Cladding/Stone/big/Sandstone_big.png" rel="af3" class="img fancy-popup-gallery">
            <img src="static/products/Alta-Facade_Cladding/Stone/small/Sandstone_small.png" alt="WhiteStone" />
            <div class="zoom">
                <i class="icon icon_zoom"></i>
            </div>
        </a>
        <p>SandStone</p>
    </div>
    <div class="images-br">
        <div class="title">
            <span>Related Products:</span>
        </div>
        <div class="row">
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_BeigeStone_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_BeigeStone_small.png" alt="demo" />
                                                    </div>
                                                    <p>BeigeStone</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_BurntStone_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_BurntStone_small.png" alt="demo" />
                                                    </div>
                                                    <p>BurntStone</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_WhiteStone_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_WhiteStone_small.png" alt="demo" />
                                                    </div>
                                                    <p>WhiteStone</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_GrayStone_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_GrayStone_small.png" alt="demo" />
                                                    </div>
                                                    <p>GrayStone</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_Malachite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_Malachite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Malachite</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_Quartzite_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_Quartzite_small.png" alt="demo" />
                                                    </div>
                                                    <p>Quartzite</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_Sandstone_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_Sandstone_small.png" alt="demo" />
                                                    </div>
                                                    <p>Sandstone</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_Slate_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_Slate_small.png" alt="demo" />
                                                    </div>
                                                    <p>Slate</p>
                                                </a>
           <a href="static/products/Decor/Angles/Stone/big/Angles_Stone_Topaz_big.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Angles/Stone/small/Angles_Stone_Topaz_small.png" alt="demo" />
                                                    </div>
                                                    <p>Topaz</p>
                                                </a>
												
												<!--common-->
                                                <a href="static/products/Decor/Common/big/Grade_white.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Grade_white.png" alt="demo" />
                                                    </div>
                                                    <p>Grade</p>
                                                </a>
                                                <a href="static/products/Decor/Common/big/J-profile.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/J-profile.png" alt="demo" />
                                                    </div>
                                                    <p>J-profile.jpg</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Starter_siding_plank.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Starter_siding_plank.png" alt="demo" />
                                                    </div>
                                                    <p>Starter siding plank</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Brick.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Brick.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Brick</p>
                                                </a> 
                                                <a href="static/products/Decor/Common/big/Facade_Profile_Stone.png" rel="af1" class="r__col fancy-popup-gallery">
                                                    <div class="img">
                                                        <img src="static/products/Decor/Common/small/Facade_Profile_Stone.png" alt="demo" />
                                                    </div>
                                                    <p>Facade Profile Stone</p>
                                                </a>
        </div>
    </div>
    <!-- images-br end-->
</div>

